#demo_box{
	width: 718px;
}

#scenario_container{
	width: 99%;
	padding: 3px;
}

p{
	margin-bottom: 0;
}

#demo_box_header_login{
	float: left !important;
}

#demo_box_header h1{
	width: 200px !important;
}

#main_content{
	height: 405px;
	float: left;
	/*width: 100%;*/
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px; 
	background: #c8c8c8;	
}

#online, #ranking {
	-webkit-border-radius: 6px;
    -moz-border-radius: 6px;
	border-radius: 6px; 
}

#no_users {
	font-size: 12px;
	color: graytext;
}

/* head */
/*---------------------------------------------------------------------------*/
#register_area{
	float: left;
	width: 480px;
	margin-left: 45px;
}
#register_form{
    float:left;
    width: 321px;
    height: 50px;
}
#register_form label{
    font-family: Verdana, sans-serif;
    font-weight: normal;
    color: white;
    font-size: 10px;
}
#register_form label.register_first{
	margin-left: 5px;
}
#register_form label.register_second{
	margin-left: 48px;
}
#register_form label.register_second_repeat{
	margin-left: 50px;
}

#register_form .first{
    float: left;
    padding-left: 3px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

#register_form .register_second .register_second_repeat{
    float: left;
    padding-left: 57px;
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}
#register_user_text{
    float: left;
}

#register_user_password{
    float: left;
    margin-left: 5px;
}
#register_user_password_repeat{
    float: left;
    margin-left: 5px;
}
#register_login_button{
    float: left;
    margin-top: 16px;
	margin-left: 4px;
}
#show_register_area_button{
	float: left;
    margin-top: 16px;
	margin-left: 4px;
}
#register_button{
	margin: 18px 0 0 3px;
}
#login_area{
	float: right;
}
/*---------------------------------------------------------------------------*/
/* Scenario */
/*---------------------------------------------------------------------------*/
#scenario_header{
    height: 35px;
    font-size: 15pt;
    font-weight: bold;
    font-family: "Verdana";
    color: #b2b2b2;
    padding-left: 17px;
	padding-top: 15px;
}
#scenario_header_left{
    float: left;
    padding-left: 10px;
}
#scenario_header_right{
    float: right;
    padding-right: 30px;
}
#scenario_chat{
	float: left;
	margin-left: 220px;
	height: 35px;
    font-size: 15pt;
    font-weight: bold;
    font-family: "Verdana";
    padding-left: 5px;
	padding-top: 5px;
	text-align: center;
}
#chat {
	width: 280px;

}
/* Ranking */
/*---------------------------------------------------------------------------*/
#ranking{
    float:left;
	margin-left: 5px;
    height: 280px;
    width: 104px;
    background: #FFFFFF;
    padding: 3px;
    font-size: 11px;
    overflow: auto;
    position: relative;
	font-family: "Verdana";
}
#ranking b{
	color:#000;
}
#ranking div{
    margin:0px;
    display: block;
}

#ranking div div.name{
    float:left;
    width: 53px;
	color:grey;
	margin-top: 3px;
}

#ranking div div.points{
    float:left;
    color:grey;
	margin-top: 3px;
}
/*---------------------------------------------------------------------------*/
/* Estadio */
/*---------------------------------------------------------------------------*/
#board{
	position: relative;
    float:left;
    background: transparent url(images/scenario.png) no-repeat;
    height: 286px;
    width: 464px;
	margin-left: 5px;
}
#obj_area{
	position: absolute;
	float: left;
    width: 100%;
	height: 100%;
}
/*---------------------------------------------------------------------------*/
/* online */
/*---------------------------------------------------------------------------*/
#online{
    float:left;
	margin-left: 5px;
	margin-right: 5px;
    height: 235px;
    width: 100px;
    background: #FFFFFF;
    overflow: auto;
    font-size: 11pt;
    padding:5px;
    position: relative;
}
#online ul{
    margin: 5px 5px 5px -10px;
    list-style: none;
}

#online ul li.available{
    list-style-image: url(images/online.png);
    cursor: pointer;
    color:black;
}

#online ul li.playing{
    list-style-image: url(images/offline.png);
    color:gray;
}
/*---------------------------------------------------------------------------*/
/* legend */
/*---------------------------------------------------------------------------*/
#legend{
    float:left;
    margin-left: 5px;
    margin-top: 5px;
    font-size: 11pt;
    font-family: "Verdana" !important;
    text-transform: uppercase;
}
#legend div{
    padding-left: 20px;
    font-weight: bold;
}
#legend div.available{
    background: url(images/online.png) no-repeat;
}

#legend div.playing{
    background: url(images/offline.png) no-repeat;
}
/*---------------------------------------------------------------------------*/
/* menu */
/*---------------------------------------------------------------------------*/
#scenario_menu{
	position: relative;
	float: left;
   	margin-left: 100px;
}

#scenario_menu .button{
	margin-left: 2px;
}

#scenario_menu input{
    width: 200px;
}

input.disabled{
	color: graytext !important;
}

input.enabled{
	color: #181616 !important;
}

/*---------------------------------------------------------------------------*/
/* buttons */
/*---------------------------------------------------------------------------*/
#sound .btn_center, #pause .btn_center{
	padding-left: 0px !important; 
	padding-right: 0px !important; 
}

.button .btn_center .audio_on{
	float: left;
	width: 17px;
	height: 18px;
    background: url(images/btn_audio_n.png) 1px no-repeat;
}

.button .btn_center .audio_off{
	float: left;
	width: 17px;
	height: 18px;
    background: url(images/btn_audio_p.png) 1px no-repeat;
}

.button .btn_center .pause{
	float: left;
	width: 12px;
	height: 18px;
    background: url(images/btn_pause_n.png) 1px no-repeat;
}
.button .btn_center .play{
	float: left;
	width: 12px;
	height: 18px;
    background: url(images/btn_play_n.png) 1px no-repeat;
}

/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
#counter{
    font-size: 150px;
    color:white;
    font-weight: bold;
    left:200px;
    top:60px;
    position: absolute;
    z-index: 999;
}
#game_over{
    font-size: 70px;
    color:white;
    font-weight: bold;
    left:50px;
    top:90px;
    position: absolute;
    z-index: 999;
}
#send_pause{
    font-size: 60px;
    color:white;
    font-weight: bold;
    left:168px;
    top:20px;
    position: absolute;
    z-index: 999;
}
#chat_text{
    position: absolute;
    margin-top: 90px;
    margin-left: 125px;
    border:  1px solid gray;
    resize: both;
    width: 240px;
    background: transparent url(images/chat_box.png);
}
#chat_text #messages_area{
    padding: 15px;
    overflow:hidden;
    height: 100px;
    padding-bottom: 10px !important;
    max-height: 180px;
}

#minimized{
    position: absolute;
    width: 110px;
    height: 20px; 
    left: 195px;
    top: 5px;
    cursor: pointer;
    background: transparent url(images/chat_box.png);
	text-align: center;
    color: white;

}

#minimize_chat_text{
    position: absolute;
    right: 0;
    top:0;
    color: white;
    font-weight: bold;
    cursor: pointer;
    width: 5px;
    height: 5px;
    margin-right: 5px;
}

#chat_text #messages_area p{
    color:  #e8e8e8;
    padding: 0px;
    margin: 0px;
}
#chat_text #messages_area div{
    display: block;
    margin-top: 5px;
}
/*---------------------------------------------------------------------------*/
/*---------------------------------------------------------------------------*/
#user_name_a{
    color:gold;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
#user_name_b{
    color:chartreuse;
    padding: 0px;
    margin: 0px;
    font-weight: bold;
}
/*---------------------------------------------------------------------------*/
#ball{
    background: url(images/ball.png) no-repeat;
    z-index: 999;
    position: relative;
}
/* ----------------------- PLAYER A ----------------------- */
#playerA{
    width: 100px;
    float: left;
    height: 100px;
    padding-left: 100px;
    z-index: -1;
}

#playerA_name{
    font-size: 20px;
    color: white;
    font-weight: bold;

}

#playerA_points{
    font-size: 72px;
    color:#afc9e2;
    font-weight: bold;
    padding-left: 15px;
}

#playerA_racket{
    background: url(images/bar.png) no-repeat;
    position: absolute;
    z-index: 999;
    width: 19px;
    top: 118px;
    height: 58px;
    left: 2px;
    -moz-border-radius-topleft: 25px !important;
    -moz-border-radius-topright: 0px !important;
    -moz-border-radius-bottomright: 0px !important;
    -moz-border-radius-bottomleft: 25px !important;
    -webkit-border-radius: 25px 0px 0px 25px !important;
    border-radius: 25px 0px 0px 25px !important;
}
/* ----------------------- PLAYER A ----------------------- */

/* ----------------------- PLAYER B ----------------------- */
#playerB{
    width: 100px;
    float: right;
    height: 100px;
    padding-right: 55px;
    z-index: -1;
}

#playerB_points{
    font-size: 72px;
    color:#afc9e2;
    font-weight: bold;

}
#playerB_name{
    font-size: 20px;
    color: white;
    font-weight: bold;

}
#playerB_racket{
	width: 21px;
	height: 87px;
    background: url(images/bar.png) no-repeat;
    position: absolute;
    z-index: 999;    
	width: 19px;
	top: 118px;
	height: 58px;
	left: 469px;
    -moz-border-radius-topleft: 0px !important;
    -moz-border-radius-topright: 25px!important;
    -moz-border-radius-bottomright: 25px!important;
    -moz-border-radius-bottomleft: 0px!important;
    -webkit-border-radius: 0px 25px 25px 0px!important;
    border-radius: 0px 25px 25px 0px!important;
}

.ui-widget-overlay{
	background: transparent !important;
}
/* ----------------------- PLAYER B ----------------------- */

