#content_left{
    float: left;
}

#content_left p{
    font-family: sans-serif;
    font-size: 11px;
    color: #404040;
    height: 60px;
    margin-left: 12px;
    line-height: 15px;
    float: left;
    width: 290px;
}

#content_right{
    width: 340px;
    padding-top: 19px;
    float: left;
}

#background_content{
    background-color:#e4e4e4;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    width: 310px;
    height: 205px;
    float: left;
}

#text p{
    font-family: Arial;
    font-size: 13px;
    font-weight: bold;
    color: #404040;
    margin-top: 10px;
    margin-left: 13px;
    float: left;
}

#img{
    background: no-repeat;
    width: 101px;
    height: 144px;
    margin-left: 13px;
    margin-top: -8px;
    float: left;
}

#form{
    margin-left: 15px;
    float: left;
    width: 60px;
}

#form label{
    font-family: Arial;
    font-size: 10px;
    font-weight: bold;
    color: #969696;
    float: left;
    padding-bottom: 2px;
    padding-top: 2px;
}





