*{
     font-family: Verdana,sans-serif;
    font-size: 11px;
    font-style: normal;
}
#demo_box{
	width: 740px;
}

#header label{
    font-family: arial ,sans-serif ;
    font-size: 21px;
    color: #FFFFFF;
    float:left;
    margin-left: 10px;
    margin-top: 10px;
  
}



.container{ 
    background-color: #e4e4e4;
    border: 1px solid #e4e4e4;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    float: left;
}

#joystickContainer{
    position: relative;
    top:12px;
    left: 12px;
    width: 345px;
    height: 350px;
}

label.title{
    font-size: 14px;
    font-style: normal;
    font-family: arial ,sans-serif ; 
    font-weight: bold;
    color: #000000;
}

label.miniDescription{
    font-size: 11px;
    font-style: normal;
    font-family: verdana ,sans-serif ;    
    color: #969696;  
}

#joystickTitle{    
    float: left;    
    position: relative;
    left: 100px;
    top: 10px;
}

#joystickMiniDescription{
    float: left;    
    position: relative;
    left: 5px;
    top: 15px;
}

#joystickPosition{
    float: left;    
    position: relative;
    left: 25px;
    top: 25px;
    width: 295px;
    height: 293px;
    background-image: url('images/position.png'); 
}

#ledsContainer{
    position: relative;
    right: 12px;
    top: 31px; 
    width: 350px;
    height: 130px;
    float: right;
}

#ledsTitle{    
    float: left;    
    position: relative;
    left: 120px;
    top: 10px;
}

#ledsMiniDescription{
    float: left;    
    position: relative;
    left: 20px;
    top: 15px;
}

#allLeds{
    float: left;    
    position: relative;
    left: 25px;
    top: 30px;  
}

#allLeds div{
    width: 48px;
    height: 48px;
    cursor: pointer;
}

#descriptionContainer{
    position: relative;
    right: 12px;
    top: 12px;  
    width: 350px;
    height: 200px;
    float:right;
}

#descriptionContainer ul{
    list-style: url('images/bullet.png');
}

#descriptionContainer ul li{
    margin-top: 5px;
}

#point{
    width: 25px;
    height: 25px;
    background: url('images/point.png') no-repeat;
    left: 135px;
    top: 135px;
    float: left;
    position: relative;
    
}

#ledblue.off{     
    background-image: url('images/blue_off.png');
    float: left;
    margin-left: 0px;
}

#ledblue.on{     
    background-image: url('images/blue.png');
    float: left;
    margin-left: 0px;
}

#ledred.off{     
    background-image: url('images/red_off.png');
    float: left;
    margin-left: 33px;
}

#ledred.on{     
    background-image: url('images/red.png');
    float: left;
    margin-left: 33px;
}

#ledgreen.off{     
    background-image: url('images/green_off.png');
    float: left;
    margin-left: 36px;
}

#ledgreen.on{     
    background-image: url('images/green.png');
    float: left;
    margin-left: 36px;
}

#ledyellow.off{     
    background-image: url('images/yellow_off.png');
    float: left;
    margin-left: 39px;
}

#ledyellow.on{     
    background-image: url('images/yellow.png');
    float: left;
    margin-left: 39px;
}
#messageBox{
    
}

#messageType{
  width: 48px;
  height: 48px;  
  
}
#messageText{
 margin-left: 5px;

 
}

#messageType.error{   
  background-image: url('images/error.png');
}
#messageType.alert{ 
  background-image: url('images/alert.png');
}
#messageType.info{  
  background-image: url('images/info.png');
}
