.tdHeader{
        text-align:left;
}

.stockTable {
        font-size: 14px;
    border-color: #44687d;
    border-bottom-width: 1px solid;
}

.stockTable th {
        color: white;
    background-color: gray;
    border-color: #cccccc;
    border-width: 0px 1px 1px 0px;
    border-style: solid;
    padding-bottom: 3px;
}

.stockTable tr td {
    height: 22px;
    border-color: #cccccc;
    border-width: 0px 0px 1px 0px;
    border-style: solid;
}

.company {
        text-align:left; 
    padding-left:10px;
}

.ticker {
        text-align:left; 
    padding-left:10px;
}

.change {
    text-align:right;
    padding-right:10px;
}

.percent {
    text-align:right;
    padding-right:10px;
}

.price {
    text-align:right;
    padding-right:10px;
}

.upChange {
        background:url(../img/arrow_up.png) center left no-repeat;
        position:relative;

        font-weight:bold;
        color:green;
        text-align:right; 
    padding-right:10px;
}

.downChange {
        background:url(../img/arrow_down.png) center left no-repeat;
        position:relative;

        font-weight:bold;
        color:red;
        text-align:right; 
    padding-right:10px;
}

.upPercent {
        font-weight:bold;
        color:green;
        text-align:right; 
    padding-right:10px;
}

.downPercent {
        font-weight:bold;
        color:red;
        text-align:right; 
    padding-right:10px;
}


