/*-------------- DEMO_HEADER ------------*/
#demo_box_header h1{
	width: 100%;
}
/*-------------- DEMO_DESCRIPTION ------------*/
#demo_box_description{
    padding: 5px !important;
}

#demo_box_description{
	font-family: "Verdana";
    font-size: 11px !important;
	margin-left: 5px !important;
	margin-right: 5px !important;
}
/*-------------- DEMO_DESCRIPTION ------------*/

/*---------------- DEMO_SCENARIO -------------*/
#demo_box_scenario{
    float: left;
    margin: 10px;
    padding: 5px;
}

#scenario_container{
	float: left;
	width: 99%;
	margin: 0px !important;
}

iframe{
	border: none;
	width: 49%;
	height: 100%;
	float: left;
	margin-left: 0;
	margin-right: 5px;
}

#iframe{
	height: 355px;
	margin-bottom: 10px;
}

#iframes.target{
	float: left;
	width: 200px;
}

#log_box {
	margin-top: 0;
}